body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background:linear-gradient(to right, orange, green);
    color: black;
    padding: 10px;
    font-size: 16pt;
}

main{
    margin: 10px 20px;
}
header:hover {
    background:linear-gradient(to right,orange, green);
    color: lightgreen;
    padding: 10px;
    font-size: 20pt;
}

footer {
    background:linear-gradient(to right, green,orange);
    color: black;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
    bottom: 0;
    position: fixed;
    width: 99%;
}
footer:hover {
    background:linear-gradient(to right, green,orange);
    color: lightgreen;
    padding: 10px;
    font-size: 20pt;
    text-align: right
}
a{
    
    transition: 1s;
}

a:visited{
    color: purple;
    background-color: black;
}

a:hover{
    color: red;
    text-decoration: underline;
    transition: 100ms 50ms;
}

a:active{
    color:pink;
    background-color: green;
}

h1{
    text-align: center;
}

img{
    display: flex;
    margin: auto;
    width: 450px;
}

div{
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
}

.rout{
    font-size: 20px;
    margin-left: 45%;
}

.plants{
    width: 300px;
    margin-top: 35px;
    margin-bottom: 35px;
}