{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}

    {% if user and age and bilet_type and mesto and bagazh and Punkt_A and Punkt_B and data %}
    <div style="font-size: 25px;">Здравствуйте, {{ user }}</div>
    <div style="font-size: 25px;">Проверьте Ваши данные:</div><br>
    <div>Тип билета: {{ 'Детский' if bilet_type == 'childlike' else 'Взрослый'}}</div>
    <div>Полка в вагоне: {{ mesto }} </div>
    <div>Наличие багажа: {{ 'Да' if bagazh == 'yes' else 'Нет'}}</div>
    <div>Ваш возраст: {{ age }}</div>
    <div>Пункт выезда: {{ Punkt_A }}</div>
    <div>Пункт назначения: {{ Punkt_B }}</div>
    <div>Дата поездки: {{ data }}</div>

    <div>
        <a href="/lab3/form2">Заново</a>
    </div>

    {% else %}

    <h1>Пользователь</h1>

    <form>
        <div>Ваше ФИО:</div>
        <div>
            <input type="text" placeholder="ФИО" name="user" value="{{ user or '' }}">
            <span class="error">{{ errors.user }}</span>
        </div>

        <div>Тип билета:</div>
        <div>
            <select name="bilet_type">
                <option value="childlike" {{ bilet_type == 'childlike' and 'selected' }}>Детский</option>
                <option value="adult" {{ bilet_type == 'adult' and 'selected' }}>Взрослый</option>
            </select>
        </div>

        <div>На какое место билет?</div>
        <div>
            <select name="mesto">
                <option value="Верхняя" {{ mesto == 'Верхняя' and 'selected' }}>Верхняя</option>
                <option value="Нижняя" {{ mesto == 'Нижняя' and 'selected' }}>Нижняя</option>
                <option value="Боковая верхняя" {{ mesto == 'Боковая верхняя' and 'selected' }}>Боковая верхняя</option>
                <option value="Боковая нижняя" {{ mesto == 'Боковая нижняя' and 'selected' }}>Боковая нижняя</option>
            </select>
        </div>

        <div>Имеете с собой багаж?</div>
        <div>
            <select name="bagazh">
                <option value="yes"  {{ bagazh == 'yes' and 'selected' }}>Да</option>
                <option value="no" {{ bagazh == 'no' and 'selected' }}>Нет</option>
            </select>
        </div>

        <div>Ваш возраст:</div>
        <div>
            <input type="number" name="age" value="{{ age or '' }}" min="18" max="120">
            <span class="error">{{ errors.age }}</span>
        </div>

        <div>Пункт выезда:</div>
        <div>
            <input type="text" name="Punkt_A" value="{{ Punkt_A or '' }}">
            <span class="error">{{ errors.Punkt_A }}</span>
        </div>

        <div>Пункт назначения:</div>
        <div>
            <input type="text" name="Punkt_B" value="{{ Punkt_B or '' }}">
            <span class="error">{{ errors.Punkt_B }}</span>
        </div>

        <div>Дата поездки:</div>
        <div>
            <input type="date" name="data" max="today" min="2023-10-14" required value="{{ data or '' }}">
        </div>

        <div>
            <button type="submit">Отправить</button>
        </div>
    </form>
    {% endif %}
{% endblock %}