{% extends "base.html" %}

{% block lab %}Галлюциногенные растения{% endblock %}

{% block main %}
    <h1>Голубой лотос</h1>
    <div>Голубой лотос — это многолетнее водное корневищное растение.
        Листья крупные, до 40 см диаметром.
        Цветки крупные, диаметром 15—20 см голубые, 
        с характерным сладковатым запахом. 
        Они поднимаются на длинных цветоножках над поверхностью воды. 
        Чашечка цветка четырёхчленная. Чашелистики снаружи зелёные, с внутренней стороны белые или 
        бледно-голубые. Многочисленные голубые спирально-расположенные лепестки несколько короче чашелистиков. 
        Цветки голубого лотоса обычно раскрываются вечером и закрываются рано утром.</div>
    <img class="plants" src="{{url_for('static', filename='lotos.jpg')}}">
    <h1>Acacia phlebophylla</h1>
    <div>Acacia phlebophylla — широкий кустарник или небольшое искривлённое дерево, достигающее 5 м 
        в высоту. Близкий родственник Acacia alpina[3]. Имеет крупные кожистые эллиптические плоские, обычно 
        асимметричные филлодии (разросшиеся черешки) длиной 4-14 см, шириной 1,5-6 см, с крупными прожилками</div>
    <img class="plants" src="{{url_for('static', filename='akaciya.jpg')}}">
    <h1>Фиттония беложильчатая</h1>
    <div>Фиттония беложильчатая (лат. Fittonia albivenis) — вид растений рода Fittonia (Фиттония), 
        семейства Акантовые (Acanthaceae). Вечнозеленый многолетник с темно-зеленой листвой и сильно контрастирующими 
        белыми или красными прожилками. В англоязычной литературе растение также называют «жилковым растением» или «мозаичным растением»</div>
    <img class="plants" src="{{url_for('static', filename='fittoniya.jpg')}}">
    <h1>Ипомея трёхцветная</h1>
    <div>Ипомея трёхцветная (лат. Ipomoea tricolor) — однолетнее вьющееся растение, вид рода Ипомея (Ipomoea) 
        семейства Вьюнковые (Convolvulaceae), произрастающий в тропиках Нового Света и широко культивируемый и натурализованный в других местах</div>
    <img class="plants" src="{{url_for('static', filename='ipomea.jpg')}}">
    <h1>Turbina corymbosa</h1>
    <div>Turbina corymbosa — вид растений рода Турбина семейства Вьюнковые (Convolvulaceae), 
        известных содержанием психоактивных веществ, семена которого издревле используются шаманами коренных народов Америки в ритуальных практиках.</div>
    <img style="margin-bottom: 100px;" class="plants" src="{{url_for('static', filename='turbina.jpg')}}">
{% endblock %}