{%extends "base.html" %}

{% block lab %}Защита{% endblock %}

{% block main %}
    <h1>Защита</h1>
    <ol>
        <li>
            <a href="http://127.0.0.1:5000/lab11/zac4">Лабораторная 4</a>
        </li>
        <li>
            <a href="http://127.0.0.1:5000/lab11/zac5">Лабораторная 5</a>
        </li>
        <li>
            <a href="http://127.0.0.1:5000/lab11/zac6">Лабораторная 6</a>
        </li>
        <li>
            <a href="http://127.0.0.1:5000/lab11/zac7">Лабораторная 7</a>
        </li>
    </ol>

{% endblock %}