{%extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
   
    <div style="font-size: 30px; margin-left: 50px;">Оплата</div>

    <div style="margin-left: 10px;">Сумма к оплате: {{ price }}</div>

    <form action="/lab3/success">
        <div style="margin-left: 0px;">Номер банковской карты:</div>
        <label>
            <input type="text" name="card" pattern="\d{16}">
        </label>

        <div style="margin-left: 0px;">Имя держателя карты:</div>
        <label>
            <input type="text" name="name">
        </label>
        <div style="margin-left: 0px;">Номер CVV:</div>
        <label>
            <input type="text" name="cvv" size="3" pattern="\d{3}">
        </label>
        <div>
            <button type="submit" style="padding: 5px; margin-left: -195px">Оплатить</button><br>
            <a href="/lab3/order" style= "margin-left: -210px">Отказаться</a>
        </div>
    </form>

{% endblock %}